body {
  margin:0;
}

#nav-menu {
  display:flex;
  flex-direction:columns;
  background-color:black;
  flex-wrap:wrap;
  height:100%;
  position: fixed;
  width:20%;
  top:0;
  left:0;
  justify-content:center;
  align-items:flex-start;
  justify-items:flex-start;
}

#logo {
  margin-top:10%;
  border-radius:40%;
  width:70%;
  height:20%; 
}
#menu-items {
  height:60%;
  width:100%;
  background-color:red;
}
.list-items {
  color:white;
  margin-top:10px;
  font-size:20px;
}
#title {
  margin-left:19%;
  background-color:white;
  text-align:center;
}
#introduction {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-left:19%;
  background-color: #5C6BC0;
  width:80vw;
  height:100vh;
}
#introduction-image {
  margin-top:5%;
  height:40%;
  width: 40%;
  border-style:solid;
}
#introduction-text {
  margin-top:10px;
  font-size:20px;
  font-weight:bold;
  height: 40%;
  width:60%;
  color:white;
}
.barrier {
  width:100vw;
  background-color:gray;
  height:20vh;
}
.box {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: #5C6BC0;
  width:80vw;
  height:100vh;
   margin-left:19%;
}
#balance-container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:10px;
  font-size:20px;
  font-weight:bold;
  height: 60%;
  width:60%;
  color:black;
  background-color:white;
}
.title-text{
  font-weight:bold;
  font-size:50px;
}